.navWrapper
{
    height:100%;
    

}

.FeedTitle
{
    text-align:center;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    padding-left:5%;
}
.Questions
{
    height:80px;
    padding-left:5%;;
    margin-bottom:2%;
    font-family: 'Raleway', sans-serif;
}
.courseTitle
{
    font-size: 14pt;
    font-weight: bold;
}
.quesTitle
{
    font-size: 12pt;
}

.quesDescription
{
    font-size: 10pt;
}

